.hero {
    background-image: url("city.jpg");
    background-size: contain;
    height: 300px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    align-items: center;
    text-align: center;
    margin: 0;

}

h1 {
    font-size: 26px;
    color: rgb(249, 36, 164);

}

h4 {
    font-size: 14px;
    color: rgb(249, 36, 164);
    text-shadow: 0 0 0 #000;
}

.top {
    display: flex;
    text-shadow: 0 0 0 #000;
    text-align: center;
    border: none;
    background-color: #3f8cff;
    padding: 4px 8px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    max-width: 250px;
    color: white;
}

.description {
    font-size: 14px;
    color: rgb(18, 18, 18);
    text-shadow: 0 0 0 #000;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    border: none;
    background-color: #0d246d;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 400px;
    color: white;
}

.head {
    font-size: 18px;
    color: rgb(18, 18, 18);
    text-shadow: 0 0 0 #000;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    border: none;
    padding: 4px 4px;
    border-radius: 5px;
}

.box1, .box2, .box3 {
    font-size: 14px;
    color: rgb(18, 18, 18);
    text-shadow: 0 0 0 #000;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    border: none;
    background-color: #edc9c9;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 300px;
}

.first {
    width: 80px;
    border-radius: 50%;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-direction: row;
}

.second {
    background-color: #d0d0d01a;
    padding: 20px;
}

.card {
    display: flex;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    background-color: beige;
    border-bottom: 4px solid black;
    margin-top: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.img-card {
    border-radius: 5px;
    margin-right: 10px;

}

.img-card2{
    display: block;
}

h3 {
    font-size: 14px;
    color: rgb(18, 18, 18);
    text-shadow: 0 0 0 #000;
    margin: 6px 0;
    font-weight: 600;
}


input {
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3f8cff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #2c6ed5;
}

#form-main {
    justify-content: center;
    max-width: 600px;
    margin-top: 20px;
    border: 1px solid #292727;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.name1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.save-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #f23fff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.numbers {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: large;
}

.card-home {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 10px auto;
    max-width: 50px;
    justify-content: center;
}

#score-el, #score-el2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #292727;
    border-radius: 4px;
    font-size: 94px;
    font-weight: bold;
    margin: 0 auto;
    color: red;
    background-color: #000;
    width: 150px;
    padding: 0 20px;
    
}

#card-main {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    max-width: 800px;
    margin-top: 20px;
    border: 1px solid #292727;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.h1-2{
    display: flex;
    font-size: 40px;
    justify-content: center;
}

#add34 {
    background-color: #000;
}


.blackjack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #016f32;
    padding: 20px 10px;
}

.details {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #f5f5f5;
}

#sum-el {
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
    color: #f5f5f5;
    font-style: italic;
}

#message-el {
    display: flex;
    font-size: 28px;
    margin-top: 10px;
    justify-content: center;
    color: goldenrod;
}

#cards-el, #sum1, #card, #player-el {
    color: #f5f5f5;
}

#start-btn, #start-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    min-width: 200px;
    color: #016f32;
    font-size: 16px;
    font-weight: 700;
}


#password1, #password2 {
    background-color: #000;
    color: aliceblue;
    padding: 4px 10px;
    min-height: 30px;
    border-radius: 5px;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #016f32;
}


#extension {
    padding: 0 10px;
    display: block;

}


#ul-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;
    padding-left: 0;
}

li a{
    color: #3f8cff;
}

li {
    margin-top: 5px;
}

#delete-btn {
    border: 1px solid rgb(17, 103, 208);
    background-color: white;
    color: #3f8cff;
    font-weight: 600;
}


















