body {
    background-color: aliceblue;
    font-family: inter, Arial;
    display: flex;

}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid rgb(20, 3, 201);
    padding: 10px;
}

.container button {
    color: rgb(20, 3, 201);
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px 30px;

}

.container input {
    padding: 10px 10px;
    margin: 30px 10px;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    

}

.container input::placeholder {
    color: rgb(227, 226, 226)
}

.top-section {
    background-color: rgb(73, 90, 241);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container h1 {
    color: white;
}
.bottom-section {
    width: 100%;
}

.measurements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;

}