body {
    background-color: blueviolet;
    font-family: inter, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;


}

.container {
    width: 400px;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container input {
    padding: 10px 10px;
    border-radius: 8px;
    background-color: rgb(242, 242, 242);
    border: 1px solid blueviolet;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    justify-content: center;
}

.container button {
    padding: 12px 20px;
    border: 0;
    width: 100%;
    border-radius: 8px;
    background-color: black;
    color: white;
    align-items: center;
    margin-top: 30px;
}

.container img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
